# MyEngineer AI Keys

# OpenRouter
OPENROUTER_API_KEY=your_openrouter_key_here


# Google Gemini
GEMINI_API_KEY=your_gemini_key_here


# GitHub Models
GITHUB_TOKEN=your_github_token_here



# Default AI Provider

DEFAULT_AI_PROVIDER=OpenRouter
